.WeatherDataCont{
    background-color: rgba(200, 200, 200, 0.5);
    width: 600px;
    height: 100px;
    line-height: 100px;
    border-radius: 5px;
} 

.WeatherExtraInfoCont{
    line-height: 28px;
    text-align: left;
    width: 40%;
    display: inline-block;
}

.WeatherTempCont{
    width: 60%;
    display: inline-block;
}

.temperature{
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    color: #333;
}

.temperatureType{
    color: #666;
    font-weight: bold;
}

.ExtraInfoText{
    display: block;
    color: #1535C5;
    font-weight: bold;
    font-size: 16px;
}

.wicon{
    color: rgb(255, 72, 0);
    padding-top: 20px;
}